*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   
}

#main-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image{
    width: 100%;
    max-width: 800px;
    padding: 1rem;
   
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.information{
    width: 100%;
    padding: 1rem;
    max-width: 1060px;
}

.intro-info{
    line-height: 2rem;
    margin-bottom: 2rem;
}

.two-parts{
    display: flex;
    flex-direction: column;
}

.download-floor{
    color: #fff;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    width: 230px;
    text-decoration: none;
}

.button-list{
    display: flex;
    flex-direction: column;
}

h3{
    margin-top: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

ul{
    list-style: disc;
    
}

li{
    margin-top: 1rem;
    margin-left: 1rem;
}

.dinner-pic{
    width: 100%;
    max-width:400px ;
}