*{
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
/* background-color: #7B4747; */
}

h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   
}

#main-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image{
    width: 100%;
    max-width: 800px;
    padding: 1rem;
   
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    /* color: #fff; */
}

.information{
    width: 100%;
    padding: 2rem;
    max-width: 1060px;
}

.block-words{
    line-height: 2rem;
    margin-bottom: 2rem;
    /* color: #fff; */
}

.two-parts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-floor{
    color: #fff;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    width: 230px;
    text-decoration: none;
}

a:hover{
background-color: rgba(0, 0, 0, 0.301);
}

.button-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

h3{
    margin-top: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    /* color: #fff; */
}

ul{
    list-style: disc;
    
}

li{
    margin-top: 1rem;
    margin-left: 1rem;
    /* color: #fff; */
}

.dinner-pic{
    width: 100%;
    max-width:600px ;
   padding: 1rem;
}
.menus{
    display: flex;
    flex-direction: column;
    align-items: center;
text-align: center;
margin-top: 2rem;
}

.menu3{
    display: flex;
    flex-direction: column;
}

.menu2{
    display: flex;
    flex-direction: column;
}

.menus a{
    color: #fff;
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 350px;
    margin-bottom: 2rem;
    text-decoration: none;
}

.menus a:hover{
    background-color: rgba(0, 0, 0, 0.301);
}

.weddings{
    margin-top: 4rem;
}

.special-events{
    margin-top: 2rem;
}

.special-events p{
    margin-top: 2rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    
        display: flex;
        flex-direction: column;
     margin-top: 2rem;
        width: 100%;
        max-width: 1060px;
        padding: 1rem;
        margin-bottom: 1rem;
    
}

.contact a{
    text-align: center;
}

.event-form{
    background-color: black;
    color: #fff;
    width: 300px;
    align-self: center;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
}

@media screen and (min-width:768px) {
    .two-parts{
        flex-direction: row;
        justify-content: space-between;
    }

    .menus a{
        width: 33%;
        margin: 1rem;
    }

    


    .menu3{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .menu2{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

}